*~
\#*
.#*
*.o
*.a
*.exe
*.dll
*.obj
*.pdb
*.lib
*.exp
*.log
*.bz2
*.zip
.gdb_history
a.out
swirl_g
swirl
*-swirl
libswirl*.def

config*.h
*_.h
config*.mak
config.texi
conftest*
tags
TAGS
swirl.1
swirl.pod
swirl-doc.html
swirl-doc.info

win32/doc
win32/examples/libswirl_test.c
win32/libswirl
win32/lib/32
win32/lib/64
win32/include/float.h
win32/include/stdalign.h
win32/include/stdarg.h
win32/include/stdbool.h
win32/include/stddef.h
win32/include/stdnoreturn.h
win32/include/varargs.h
win32/include/swirllib.h

tests/swirltest[1234]
tests/swirltest.gcc
tests/*.out*
tests/*.ref
tests/*.txt
tests/*.gcc
tests/*-cc*
tests/*-swirl*
tests/libswirl_test
tests/libswirl_test_mt
tests/asm-c-connect
tests/asm-c-connect-sep
tests/vla_test
tests/hello
tests/tests2/fred.txt
libswirl.dylib
